{% extends "base.html" %}

{% block content %}
    <h3 class="mb-4">Dodaj nowy wpis</h3>
    <form action="" method="POST">
        {{ form.hidden_tag() }} {# Generuje token CSRF #}
        <div class="mb-3">
            <label for="title" class="form-label">Tytuł wpisu</label>
            {{ form.title(class_="form-control", placeholder="Wpisz tytuł") }}
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Treść</label>
            {{ form.body(class_="form-control", rows="10", placeholder="Wpisz treść posta") }}
        </div>
        <div class="form-check mb-3">
            {{ form.is_published(class_="form-check-input") }}
            <label class="form-check-label" for="is_published">Wpis opublikowany</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Zapisz</button>
    </form>
{% endblock %}